Repository PaddlePaddle/Paddle-Lite, pull requests merged in 2020-09, with the labels that each got.

#4186 [BACKEND][OPENCL] Delete redundant calling: InitializeDevice. test=develop
  lite/backends/opencl/cl_runtime.h
Labels: OpenCL

#4267 fix constexpr definitions bug in class, test=develop
  lite/model_parser/base/traits.h
Labels: Model Parser

#4269 change the style of literal, test=develop
  lite/model_parser/flatbuffers/test_helper.h
Labels: Model Parser

#4296 change the NotImpl macros, test=develop
  lite/model_parser/base/block_desc.h
  lite/model_parser/base/op_desc.h
  lite/model_parser/base/param_desc.h
  lite/model_parser/base/program_desc.h
  lite/model_parser/base/traits.h
  lite/model_parser/base/var_desc.h
  lite/model_parser/flatbuffers/block_desc.h
  lite/model_parser/flatbuffers/op_desc.h
  lite/model_parser/flatbuffers/program_desc.h
  lite/model_parser/flatbuffers/var_desc.h
Labels: Model Parser

#4315 [cherry-pick] not build naive_buffer when build light framework, test=develop
  cmake/configure.cmake
  cmake/generic.cmake
  lite/api/android/jni/native/CMakeLists.txt
  lite/api/light_api.cc
  lite/api/python/pybind/CMakeLists.txt
  lite/core/CMakeLists.txt
  lite/model_parser/compatibility.cc
  lite/model_parser/compatible_pb.cc
  lite/model_parser/flatbuffers/program_desc.h
  lite/model_parser/model_parser.cc
  lite/model_parser/model_parser.h
  lite/model_parser/naive_buffer/CMakeLists.txt
  lite/tools/build.sh
  lite/utils/logging.h
Labels: Model Parser

#4237 [LITE][XPU] 1. Add sequence_unpad kernel for XPU; 2. Bugfix in sequence_unpad kernel for x86, as InferShapeImpl() is now empty in lite/operators/sequence_unpad_op.cc; 3. Refine TargetWrapperXPU;
  lite/backends/xpu/target_wrapper.cc
  lite/backends/xpu/target_wrapper.h
  lite/kernels/x86/sequence_unpad_compute.h
  lite/kernels/xpu/CMakeLists.txt
  lite/kernels/xpu/sequence_pool_compute.cc
  lite/kernels/xpu/sequence_unpad_compute.cc
  lite/kernels/xpu/sequence_unpad_compute.h
Labels: XPU
