Repository PaddlePaddle/Paddle-Lite, pull requests merged in 2020-08, with the labels that each got.

#4065 Add some write-apis for flatbuffers, test=develop
  lite/model_parser/flatbuffers/block_desc.cc
  lite/model_parser/flatbuffers/block_desc.h
  lite/model_parser/flatbuffers/op_desc.cc
  lite/model_parser/flatbuffers/op_desc.h
  lite/model_parser/flatbuffers/program_desc.cc
  lite/model_parser/flatbuffers/program_desc.h
  lite/model_parser/flatbuffers/traits.h
  lite/model_parser/flatbuffers/var_desc.h
Labels: Model Parser

#4074 add fbs::ProgramDesc, test=develop
  lite/model_parser/flatbuffers/CMakeLists.txt
  lite/model_parser/flatbuffers/block_desc.h
  lite/model_parser/flatbuffers/op_desc.cc
  lite/model_parser/flatbuffers/program_desc.cc
  lite/model_parser/flatbuffers/program_desc.h
  lite/model_parser/flatbuffers/program_desc_test.cc
  lite/model_parser/flatbuffers/traits.h
Labels: Model Parser

#4079 Add the conversion of cpp and flatbuffers program, test=develop
  lite/model_parser/CMakeLists.txt
  lite/model_parser/compatible_pb.cc
  lite/model_parser/compatible_pb_test.cc
  lite/model_parser/flatbuffers/block_desc.cc
  lite/model_parser/flatbuffers/block_desc.h
  lite/model_parser/flatbuffers/io.cc
  lite/model_parser/flatbuffers/io.h
  lite/model_parser/flatbuffers/io_test.cc
  lite/model_parser/flatbuffers/op_desc.cc
  lite/model_parser/flatbuffers/param_desc.h
  lite/model_parser/flatbuffers/program_desc.cc
  lite/model_parser/flatbuffers/program_desc.h
  lite/model_parser/flatbuffers/program_desc_test.cc
  lite/model_parser/flatbuffers/test_helper.h
  lite/model_parser/flatbuffers/var_desc.h
  lite/model_parser/model_parser.cc
  lite/model_parser/model_parser.h
Labels: Model Parser

#4098 speed up vector assignment, test=develop
  lite/model_parser/base/vector_view.h
  lite/model_parser/flatbuffers/block_desc.h
  lite/model_parser/flatbuffers/op_desc.cc
  lite/model_parser/flatbuffers/op_desc.h
  lite/model_parser/flatbuffers/param_desc.h
  lite/model_parser/flatbuffers/program_desc.h
  lite/model_parser/flatbuffers/var_desc.h
  lite/model_parser/flatbuffers/vector_view.h
Labels: Model Parser

#4142 add build macros for flatbuffers, test=develop
  cmake/configure.cmake
  lite/model_parser/compatible_pb.cc
  lite/model_parser/cpp_desc.h
  lite/model_parser/flatbuffers/block_desc.cc
  lite/model_parser/flatbuffers/block_desc.h
  lite/model_parser/flatbuffers/io_test.cc
  lite/model_parser/flatbuffers/op_desc.cc
  lite/model_parser/flatbuffers/op_desc.h
  lite/model_parser/flatbuffers/param_desc.h
  lite/model_parser/flatbuffers/program_desc.cc
  lite/model_parser/flatbuffers/program_desc.h
  lite/model_parser/flatbuffers/program_desc_test.cc
  lite/model_parser/flatbuffers/test_helper.h
  lite/model_parser/flatbuffers/var_desc.h
  lite/model_parser/model_parser.cc
  lite/model_parser/model_parser.h
  lite/tools/build.sh
Labels: Model Parser

#4147 input_vars of flatbuffers impl, test=develop
  lite/model_parser/flatbuffers/op_desc.h
  lite/tools/build.sh
Labels: Model Parser

#4191 [REVERT][OPENCL][BACKEND] Revert opencl backend for mallocImage. test=develop
  lite/backends/opencl/target_wrapper.cc
Labels: OpenCL

#4156 [LITE][XPU] 1. Add CloneFrom() method in SSAGraph for recovery from failed pattern match; 2. Fix BindKernel in xpu fusion passes;
  lite/core/mir/fusion/__xpu__embedding_with_eltwise_add_fuse_pass.cc
  lite/core/mir/fusion/__xpu__fc_fuse_pass.cc
  lite/core/mir/fusion/__xpu__multi_encoder_fuse_pass.cc
  lite/core/mir/fusion/__xpu__resnet_cbam_fuse_pass.cc
  lite/core/mir/fusion/__xpu__resnet_fuse_pass.cc
  lite/core/mir/pattern_matcher_high_api.h
  lite/core/mir/ssa_graph.cc
  lite/core/mir/ssa_graph.h
  lite/core/mir/xpu_pattern_matcher_high_api.h
Labels: XPU

#4141 [LITE][XPU] fuse q/k/v in multi_encoder
  lite/core/mir/fusion/__xpu__multi_encoder_fuse_pass.cc
  lite/kernels/xpu/__xpu__multi_encoder_compute.cc
  lite/operators/__xpu__multi_encoder_op.cc
  lite/operators/op_params.h
Labels: XPU

#4193 fix save interfaces of flatbuffers, test=develop
  lite/model_parser/flatbuffers/io.cc
  lite/model_parser/flatbuffers/io.h
  lite/model_parser/flatbuffers/io_test.cc
  lite/model_parser/flatbuffers/param_desc.h
  lite/model_parser/flatbuffers/program_desc.h
  lite/model_parser/flatbuffers/test_helper.h
  lite/model_parser/model_parser.cc
Labels: Model Parser

#4180 [KERNEL][OPENCL] Fix concat; Enable conv3x3 with group
  lite/backends/opencl/cl_kernel/buffer/concat_kernel.cl
  lite/backends/opencl/cl_kernel/image/activation_kernel.cl
  lite/backends/opencl/cl_kernel/image/concat_kernel.cl
  lite/kernels/opencl/CMakeLists.txt
  lite/kernels/opencl/activation_image_compute.cc
  lite/kernels/opencl/concat_buffer_compute.cc
  lite/kernels/opencl/concat_buffer_compute_test.cc
  lite/kernels/opencl/concat_image_compute.cc
  lite/kernels/opencl/concat_image_compute_test.cc
  lite/kernels/opencl/conv_image_compute.cc
Labels: OpenCL

#4208 fix likely macros, test=develop
  lite/utils/charconv.h
Labels: Model Parser
